.header {
  display: block;
  font-size: 15px;
  font-family: Rubik, system-ui, sans-serif;
}
.header-container {
  display: flex;
  position: fixed;
  top: 0;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(30, 29, 30);
  text-align: center;
  left: 0;
  z-index: 10;
}
.cont_log {
  height: 100%;
  position: relative;
}
.cont_img {
  margin: auto;
  padding: 6px;
  height: 40px;
  width: 150px;
}
.cont_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cont_ul {
  border-top: 1px ridge white;
  border-bottom: 1px ridge white;
}
.cont_ul ul {
  display: flex;
  margin: 3px 250px 0 250px;
  padding: 7px;
  flex-direction: row;
  justify-content: space-around;
}
.cont_ul ul li {
  color: whitesmoke;
  padding: 6px;
  list-style: none;
}
.cont_ul ul li a:hover {
  border-bottom: solid red;
}
.header-button {
  position: absolute;
  color: white;
  top: 0;
  left: 5%;
  height: 100%;
  border-left: 1px ridge white;
  border-right: 1px ridge white;
}
.header-button div {
  margin-top: 10px;
}
.header-button p {
  padding: 0;
  margin: 4px;
  display: inline-block;
  font-size: 10px;
}
.session-p {
  display: inline-block;
  border-left: 1px ridge white;
  height: 10px;
}
